
body {
  font-family: 'Montserrat';
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: 'Montserrat',sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

/* padding in navbar below; 0 is top, 0 is left, and 4.5rem is applied to the bottom ONLY. This is to align the tindog title in the navbar with the current h1*/

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

/* padding in nav-item below; 0 is top and bottom, 18px is left and right. This is to add a bit of space between each other on the item on the navbar (which are contact, pricing, download)  */

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: 400;
}

/* Download Buttons */

/* margin in nav-item below; 5% top, 3% right, 5% left, 0 bottom. This is to add a lil bit of space between the current h1 and the download button */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Title Image */

/* title-image below is to make the photo of the dog, in this case, a bit smaller. The transform function is to rotate the photo  */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

/* Using pseudo class called hover to hover */

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */

/* Padding below is for the photo of the corgi for our carousel; 7% top and bottom, 15% left and right */

#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

/* margin below; 20px from the top, 20px from left and right, 50px from the bottom */

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding:100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to Action Section */

/* Footer Section */

#footer {
  background-color: #fff;
}

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;

  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}
